.header__logo {
  max-width: 142px;
  padding-bottom: 41px;
}

@media screen and (max-width: 375px) {
  .header__logo {
    max-width: 104px;
    margin-left: 27px;
    padding-bottom: 31.6px;

  }
}
