.popup__input {
  display: block;
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  margin: 0 0 30px;
  padding: 0 0 9px;
  color: #000000;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup__input:last-of-type {
  margin: 0 0 48px;
}
/*
.popup__input::-webkit-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.popup__input::-moz-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

.popup__input::-ms-input-placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
*/

@media screen and (max-width: 470px) {
  .popup__input:last-of-type {
    margin: 0 0 45px;
  }
}
